In [1]:
#Set
s= {}
print(s)
print(type(s))

{}
<class 'dict'>

In [2]:
s= {1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [8]:
s =([50,60,70])
print(s)
print(type(s))

[50, 60, 70]
<class 'list'>

In [7]:
s[0]

50

In [9]:
z = (20,30,40)
print(z)
print(type(z))

(20, 30, 40)
<class 'tuple'>

In [10]:
tuple3 = tuple((1, 3, 5, "hello"))
print(tuple3)

(1, 3, 5, 'hello')

In [11]:
set1 = {1, 2, 3, 'abc', 6}
print(set1)

{1, 2, 3, 6, 'abc'}

In [13]:
l = [20,30,40]
print(l)
print(type(l))

[20, 30, 40]
<class 'list'>

In [14]:
t = tuple(l)
print(t)

(20, 30, 40)

In [17]:
#  Important function of set
# 1.  add(x)
# add item x to set

In [26]:
s ={50,60,70}
print(s)
print(type(s))

{50, 60, 70}
<class 'set'>

In [28]:
s.add("Rahul")

In [29]:
print(s)

{'Rahul', 50, 60, 70}

In [4]:
### 2. update (x,y,z)\n",
    # To add multiple items to the set\n",
    # It should be either in list or in range\n",

In [5]:
s1 = {10,20,30,40}
print(s1)

{40, 10, 20, 30}

In [6]:
l = [90,80,70,60,50,40]
print(l)

[90, 80, 70, 60, 50, 40]

In [7]:
s1.update(l)
print(s1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [10]:
s2 = {"rahul", "sonali"}
s1.update(s2)
print(s1)

{70, 40, 10, 'sonali', 80, 50, 20, 'rahul', 90, 60, 30}

In [8]:
# copy()
# cloning

In [9]:
p =s1.copy()
print(p)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [11]:
# pop()  set does not follow order. It will remove randomly
s1.pop()
s1

{10, 20, 30, 40, 50, 60, 80, 90, 'rahul', 'sonali'}

In [12]:
s1.pop()

40

In [13]:
s1

{10, 20, 30, 50, 60, 80, 90, 'rahul', 'sonali'}

In [19]:
# remove() it removes specify element from the set

s = {90,80,70,60}
s.remove(70)
print(s)
s.remove(100)

{80, 90, 60}

KeyError: 100

In [15]:
t = {6,4,2,2,9}
print(t)

{9, 2, 4, 6}

In [16]:
rm = [6,9]
r = t -set(rm)
r

{2, 4}

In [18]:
# discard - it remove specified item

s = {90,80,70,60}
s.discard(70)
print(s)
s.discard(100)

{80, 90, 60}

In [20]:
# clear()  to remove all element
s ={10,20,30,40}
print(s)

{40, 10, 20, 30}

In [22]:
s.clear()
s

set()

In [23]:
# ##### Mathematical Operations on Set ---\n",
    ###  1. union() ### x.union(y) or x|y\n",
    ### we can use this function to return all elements present in both sets\n",

IndentationError: unexpected indent (2049693186.py, line 4)

In [28]:
x = {10,20,30}
y = {30,40,50}
print(x.union(y))
print(x|y)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}

In [31]:
x = {10,20,30}
y = {30,40,50,"rahul"}
z= x.union(y)
print(z)

{50, 20, 40, 'rahul', 10, 30}

In [29]:
#### 2. Intersection\n",
    ### x.intersection(y) or x&y\n",
    ### RReturns common element present in both x and y\n",

In [32]:
x.intersection(y)

{30}

In [34]:
#### 3. Difference\n",
    #### x.differeence(y) or x -y\n",
    ##### returns the element present in x but not in y\n",
x = {10,20,30,40}
y = {30,40,50,60}
print(x.difference(y))
print(y.difference(x))

{10, 20}
{50, 60}

In [35]:
####4. Symmetric Difference\n",
#### x.symmetric_difference(y) or x^y\n",
#### returns element present in either x or y but not in both\n",
x = {10,20,30,40}
y = {30,40,50,60}
print(x.symmetric_difference(y))

{10, 50, 20, 60}

In [36]:
 #### Membership Operators in Set (in and not in)\n",
s = set("Sonali")  ##### Another way of Tokenizing of words\n",
print(s)

{'S', 'l', 'n', 'o', 'i', 'a'}

In [37]:
print('i' in s)

True

In [39]:
print('k' not in s)

True

In [40]:
s1.difference_update()

In [ ]:
##### Dictionary Data Structure\n",
#### we can use listm tuple, set to represent group mof individual objects \n",
###if you want to create group of obejcts as key and value pairs then we should go for dict\n",
# name - \"Sonali\"\n",
# age - 27\n",
#\n",
#### Dupliate keys are not allowed but values can be duplicated\n",
#### Hetrogenous objects are allowed for both key and value\n",
#### Insertion order is not preserved\n",
#### Dictionaries are Mutable objects\n",
### Dictionaries are Dynamic\n",
##### Indexing and slicing are not applicable"

In [41]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [42]:
d  = {1 : 'rahul', 2: 'Rohan', 3:'sheetal'}
print(d)

{1: 'rahul', 2: 'Rohan', 3: 'sheetal'}

In [43]:
d[1]

'rahul'

In [44]:
d[4]= "Abhishek"

In [45]:
d

{1: 'rahul', 2: 'Rohan', 3: 'sheetal', 4: 'Abhishek'}

In [46]:
d[9]

KeyError: 9

In [47]:
del d[4]

In [48]:
d

{1: 'rahul', 2: 'Rohan', 3: 'sheetal'}

In [49]:
d[5] = "Anand"

In [50]:
d

{1: 'rahul', 2: 'Rohan', 3: 'sheetal', 5: 'Anand'}

In [51]:
 s = {23 : 'ABC', 89: 'DEF'}
s

{23: 'ABC', 89: 'DEF'}

In [52]:
d.update(s)
d

{1: 'rahul', 2: 'Rohan', 3: 'sheetal', 5: 'Anand', 23: 'ABC', 89: 'DEF'}

In [53]:
n = {'name':['Rahul', "Rohan", "Sita"], 'Age':[12,25,26]}
print(n)

{'name': ['Rahul', 'Rohan', 'Sita'], 'Age': [12, 25, 26]}

In [54]:
n.clear()
print(n)

{}

In [55]:
d.keys()

dict_keys([1, 2, 3, 5, 23, 89])

In [56]:
d.values()

dict_values(['rahul', 'Rohan', 'sheetal', 'Anand', 'ABC', 'DEF'])

In [58]:
d.items()

dict_items([(1, 'rahul'), (2, 'Rohan'), (3, 'sheetal'), (5, 'Anand'), (23, 'ABC'), (89, 'DEF')])

In [60]:
d.pop(2)

'Rohan'

In [61]:
d

{1: 'rahul', 3: 'sheetal', 5: 'Anand', 23: 'ABC', 89: 'DEF'}

In [62]:
d.popitem()

(89, 'DEF')

In [63]:
d

{1: 'rahul', 3: 'sheetal', 5: 'Anand', 23: 'ABC'}

In [64]:
e = d.copy()

In [65]:
e

{1: 'rahul', 3: 'sheetal', 5: 'Anand', 23: 'ABC'}

In [66]:
#### Range - We can create range of values - \n",
list(range(5))

[0, 1, 2, 3, 4]

In [67]:
list(range(1,25,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [68]:
##### None nothing No values are associated\n",
### if the value isw not available, then to handle such type of cases None are introduced.\n",
a = None
print(a)

None

In [69]:
##### Escape Characters\n",
### \\n == New Line\n",
print("Rahul is a good boy, he plays very well")
#### \\t  == Horizontal Tab\n",
print("Rahul is a good boy he plays very well")

Rahul is a good boy, he plays very well
Rahul is a good boy he plays very well

In [71]:
### Operators in Python\n",
### 1. Arithmetic Operators\n",
    #### + , - , * , / , %, // , **\n",
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)   ### Reminder \n",
print(a//b)   ##### Floor\n",
print(a**b)

13
7
30
3.3333333333333335
1
3
1000

In [72]:
#### In string there are 2 operator + and *

In [73]:
#### Relational Operators (>, >= , < ,<=)\n",
a = 10
b = 20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
False
True
True

In [ ]:
#### Bool Data TYpe\n",
#### True and False

In [74]:
#### In Python True represents as 1 and False represents as 0\n",
a = True
b = True
print(a+b)

2

In [75]:
print(True > True)

False

In [76]:
print(True >= True)

True

In [77]:
print(0 > True)

False

In [78]:
print(True != True)

False

In [79]:
#Logical operators and , or , not

In [80]:
# and  =  if both arguments are True then the results are True\n",
# or = if atleast one argument is True then result is True\n",
# not  = complement

In [81]:
True and True

True

In [82]:
True or False

True

In [83]:
not True

False

In [84]:
### if the 1st argumen tis 0, then the rsult is zero other wise the result i y\n",
10 and 20

20

In [85]:
0 and 20

0

In [86]:
#### x or y\n",
### if x is true then the result is x other wise result is y\n",
10 or 20

10

In [87]:
0 or 20

20

In [88]:
##### Modules in Python  - Modules are bascially packages which stores differnt dunctions related\n",
#### to that module\n",
#### import module_name\n",
#### from module_name import functions\n",
#### import module_name as alias

In [89]:
import math as m

In [90]:
m.sqrt(4)

2.0

In [91]:
m.pi

3.141592653589793

In [92]:
from math import sqrt,pi

In [93]:
sqrt(16)

4.0

In [94]:
pi

3.141592653589793

In [95]:
import datetime

In [96]:
k = datetime.date(1996,12,11)
print(k)
print(type(k))

1996-12-11
<class 'datetime.date'>

In [97]:
t = datetime.date.today()
print(t)

2023-10-02

In [100]:
print("Current Year",t.year)
print("Current Month",t.month)
print("Current Day ",t.day)

Current Year 2023
Current Month 10
Current Day  2

In [104]:
from datetime import time

In [105]:
t = time(11,34,56)
print(t)

11:34:56

In [107]:
print("Hour", t.hour)
print("Minutes", t.minute)
print("Seconds", t.second)

Hour 11
Minutes 34
Seconds 56

In [ ]:
#### Write a program taking input from user and calculate the area of a circle

In [108]:
### pi r sqaure  ##### \n",
radius = int(input("Enter the Radius"))
aoc = pi*(radius**2)
print(aoc)

Enter the Radius5
78.53981633974483