In [1]:
#Bitwise operator
# we can apply bitwise operator only in int an boolean values
## & and |
print(4 & 5)

4

In [2]:
# if both bits are 1 then only the result is 1 otherwise result is 0
# |  if atleast one bits are 1 then only the result is 1 otherwise result is 0
print(1 & 0)

0

In [3]:
print(1 | 0)  # OR

1

In [4]:
# Assignment operator
x = 10
x =x+2
print(x)

12

In [6]:
x= 15
x+=5
print(x)

20

In [7]:
 ## +=, -=, *=,/=, %=, //=, &=, |=

In [8]:
## Ternary Operators
 # x= firstvalue if condition else secondvalue -- syntax

In [9]:
a= 10
b= 20
x =30 if a<b else 40
print(x)

30

In [10]:
a= 100
b= 20
x =30 if a<b else 40
print(x)

40

In [11]:
# wriite a pgm taking two numbers from the user and print the min of two

In [12]:
X = int(input("enter 1st number "))
Y = int(input("enter 2nd number "))
z = x if X<Y else Y
print(" min value is -- ", z)

enter 1st number 10
enter 2nd number 20
 min value is --  40

In [13]:
# conditional stmt - if ,ifelse 
#Transfer statement - break, continue ,pass
# Iterative stmt  - for, while

In [16]:
if True:
    print("condition is true")
print("condition is not true")

condition is true
condition is not true

In [18]:
if True:
    print("condition is true")
else:    
    print("condition is not true")

condition is true

In [19]:
a =10
if a<15:
    print(a)
else:
    print(" the value is greater than 15")

10

In [20]:
brand = input("enter your brand name --")
if brand == 'A':
    print("it is children brand")
elif brand == 'B':
     print("it is boys brand")
elif brand == 'C':      
    print("it is customer  brand")
else:
    print("it is other brand")

enter your brand name --C
it is customer  brand

In [24]:
# Iterative statement
#1. for loop -  if you want to create some action for every element present in some sequence 
# for any var in sequence :
 # expression
s= "Abhishek Anand"
for x in s:
    print(x)

A
b
h
i
s
h
e
k

A
n
a
n
d

In [28]:
i =0
s= "Sonali Sinha"
for x in s:
    print("L- ",i, x)

L-  0 S
L-  0 o
L-  0 n
L-  0 a
L-  0 l
L-  0 i
L-  0
L-  0 S
L-  0 i
L-  0 n
L-  0 h
L-  0 a

In [29]:
i =0
s= "Sonali Sinha"
for x in s:
    print("L- ",i, x)
    i =i+1

L-  0 S
L-  1 o
L-  2 n
L-  3 a
L-  4 l
L-  5 i
L-  6
L-  7 S
L-  8 i
L-  9 n
L-  10 h
L-  11 a

In [30]:
fruits = ["Apple", "mango" , "grapes", "orange" , " Pineapple", " blueberry"]
fruits

['Apple', 'mango', 'grapes', 'orange', ' Pineapple', ' blueberry']

In [31]:
i =100
#s= "Sonali Sinha"
for x in fruits:
    print("fruits ",i, x)
    i =i+1

fruits  100 Apple
fruits  101 mango
fruits  102 grapes
fruits  103 orange
fruits  104  Pineapple
fruits  105  blueberry

In [35]:
#wap to diaplay all odd number from 0 t0 30
for x in range(31):
 if(x%2!=0):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [39]:
for i in range(0,4): # [0,1,2,3]
    print(i)

0
1
2
3

In [42]:
for i in range(0,4): # [0,1,2,3]
    print(i)
    for j in range(4):
        print(i,j)

0
0 0
0 1
0 2
0 3
1
1 0
1 1
1 2
1 3
2
2 0
2 1
2 2
2 3
3
3 0
3 1
3 2
3 3

In [ ]:
# while loop
#if u want to execute group of stmt iteratively until some condition is false 
# while condition:
# expression

In [43]:
x = 1
while x<10:
    print("condition exist")
    x = x+1

condition exist
condition exist
condition exist
condition exist
condition exist
condition exist
condition exist
condition exist
condition exist

In [44]:
x = 1
while x<10:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9

In [48]:
# Transfer stament
# 1. break
for i in range(10):
      
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
for i in range(10):
if i ==6:
    print("till 6")
    break
    print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3519027552.py, line 2)

In [54]:
# Continue
cart = [10,230, 50, 500,60]
for item in cart:
    if item >=400:
        print("we cant process", item)
        continue
        print(item)

we cant process 500

In [1]:
#pass in empty statement, null stmt , wont do anything
if True:
    pass